# Terraform files/folders to ignore
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# ZIP files and scripts
lambda.zip
zip_lambda.sh

# Optional: Python cache files
__pycache__/
*.pyc
